/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.code-workspace
databox-bastrijan-793618d983e4.json
epro-7c1d7-0c4f6ab49d4b.json